.venv/
__pycache__/
.ipynb_checkpoints/
.DS_Store
data/pre_eda/
*.pyc
*.egg-info/
reports/eda/.mpl-cache/

reports/eda/.ipython-cache/
reports/eda/.jupyter-runtime/

# Generated per-hour model predictions (recreated by scripts/run_*.py, several MB each)
reports/models/*_predictions*.csv
